body{
	margin: 0; 
	line-height: 30px;
}

header{
	background-color: #2A2925;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 30px;

}

/*header styles*/

h1, h2{
	font-family: 'Contrail One', cursive;
	text-transform: uppercase;
}

header h1{
	color: white;

}

header img{
	border-radius: 150px;
	width: 300px;
    border: 1.5px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	margin: 40px 0 10px;
}

p, li{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 20px;
}

a{
	color: black;
}
a:hover{
	color: white;
	background-color: #2A2925;
}

footer{
	color: white;
	background-color: #2A2925;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	backgroung-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}

